.swiper-.formButton-next {
  color: red;
}

.swiper-.formButton-prev {
  color: red;
}


.swiper.navigation.prevEl {
  color: green
}

.ant-card-head-title {
  color: tomato;
  font-size: 18px;
  text-transform: uppercase;
  font-weight: bold;
  text-align: center;
}

body {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: Arial, sans-serif;
}

/* the slides */
.slick-slide {
  padding: 0 12px;
}

.slick-next {
  color: white !important;
  background-color: red !important;
  width: 40px !important;
  height: 40px !important;
  border-radius: 100%;
  position: absolute;
  right: -50px !important;
  opacity: 0.7;

}

.slick-prev {
  color: white !important;
  background-color: red !important;
  width: 40px !important;
  height: 40px !important;
  border-radius: 100%;
  position: absolute;
  left: -50px !important;
  opacity: 0.7;
}


@media screen and (max-width: 768px) {
  .slick-next {
    right: 20px !important;
  }

  .slick-prev {
    left: 20px !important;
    z-index: 999;
  }
}